// || Gallery page type modifier
.intro--gallery {
	position: relative;
	z-index: 3;
}
// 

.intro__background-wrapper {
	@include padding-section($topBottom: 5rem);
	background-color: $color-bg-tertiary--darker;
}

.intro__content,
.intro__text {
	color: $color-text-tertiary;
}

.intro__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.intro__header {
	max-width: 22ch;
}

.intro__header-subpage-content-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.intro__subpage-divider .styled-subdivider {
	width: 100%;
}
.intro__subpage-divider .styled-subdivider-blue {
background-color: $color-design-primary--non-faded;
}
.intro__subpage-divider .styled-subdivider-red {
background-color: $color-design-secondary--non-faded;
}

.intro__text {
	max-width: 40ch;
}
