@use "../utils/variables";

// || Intro
.intro-home {
	@include image-background("stock-bike-exhaust.jpg");
}
.intro__background-wrapper {
	@include padding-section;
	background-color: $color-bg-tertiary;
}
.intro__content {
	color: $color-text-tertiary;
}
.intro__text {
	color: $color-text-tertiary--faded;
}

// || Services
.services {
	@include padding-section;
	background-color: $color-bg-quaternary;
}
.services__intro-section {
	text-align: center;
	margin-bottom: 2rem;
}
.services__welcome {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
}
.services__header {
	margin: 1rem 0;
}

// || Conversion
.conversion {
	@include padding-section;
}
.conversion__before-after-label {
	font-size: 0.8rem;
}

// || Safety
.safety {
	@include padding-section(1.5rem, 1rem);
	@include image-background("stock-bike-seat.jpg");
}
.safety__content {
	background-color: $color-bg-tertiary--faded;
	padding: 1rem;
	border-radius: 5px;
}
.safety__text {
	color: $color-text-tertiary;
}

// || Restoration
.restoration {
	@include padding-section;
}

// Authentic Equipment List
.restoration__authentic-equipment-list {
	display: grid;
	grid-template-columns: auto;
	row-gap: 2rem;
	margin: 2rem;
}
@include for-tablet-portrait-up {
	.restoration__authentic-equipment-list {
		grid-template-columns: auto auto;
	}
}
@include for-desktop-up {
	.restoration__authentic-equipment-list {
		grid-template-columns: auto auto auto auto;
	}

}

.authentic-equipment-list__item {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.authentic-equipment-list__item-number-design,
.authentic-equipment-list__item-text-design {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.authentic-equipment-list__item-text-design {
	margin-top: 0.5rem;
	width: 18ch;
}
.authentic-equipment-list__item-text {
	margin-top: 1rem;
}

.authentic-equipment-list__item-vertical-line,
.authentic-equipment-list__item-horizontal-line {
	background-color: $color-bg-tertiary;
}
.authentic-equipment-list__item-vertical-line {
	height: 3rem;
	width: 2px;
	align-self: center;
	visibility: hidden;
}
@include for-tablet-portrait-up {
	.authentic-equipment-list__item-vertical-line {
		visibility: visible;
	}
}

.authentic-equipment-list__item-horizontal-line {
	height: 2px;
	width: 100%;
}
@include for-tablet-portrait-up {
	.authentic-equipment-list__item-horizontal-line {
		visibility: hidden;
	}
}


// || Contact Us
.contact-us {
	@include padding-section;
	background-color: $color-bg-quaternary;
	text-align: center;
}
