@use "../utils/variables";

// || Intro
.intro-home {
	@include image-background("stock-bike-exhaust.jpg");
}
.intro__background-wrapper-home {
	background-color: $color-bg-tertiary;
}
@include for-desktop-up {
	.intro__background-wrapper-home {
		width: 50%;
	}
	.intro__content-home {
		align-items: flex-start;
		text-align: left;
		max-width: 500px;
		margin: auto;
	}
}

.intro__text-home {
	margin-bottom: 1rem;
}

// || Services
.services {
	@include padding-section;
	background-color: $color-bg-quaternary;
}
.services__intro-divider {
	position: absolute;
	bottom: 15rem;
	right: 35rem;
	gap: 1.5rem;
}
.services__intro-divider .styled-subdivider-red {
	transform: translateX(-4rem);
}
.services__intro-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 2rem;
}
.services__welcome {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
}
.services__header {
	margin: 1rem 0;
}
.services__text {
	max-width: 40ch;
}

// Services Card
.services__card-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
@include for-tablet-portrait-up {
	.services__card-section {
		flex-direction: row;
		gap: 0;
	}
}
.services__card-divider .styled-subdivider-blue {
	transform: translateX(3rem);
}
.services__card-divider .styled-subdivider-red {
	transform: translateX(-3rem);
}
@include for-tablet-portrait-up {
	.services__card-divider {
		flex-direction: row;
		justify-content: center;
	}
	.services__card-divider .styled-subdivider {
		height: 14rem;
		width: 0.5rem;
	}
	.services__card-divider .styled-subdivider-blue {
		transform: translateY(3rem);
	}
	.services__card-divider .styled-subdivider-red {
		transform: translateY(-3rem);
	}
}

// || Conversion
.conversion-home {
	@include padding-section;
	position: relative;
}
.conversion-home__before-after-label {
	font-size: 0.8rem;
}

.conversion-home__header-divider {
	position: absolute;
	gap: 1.5rem;
	top: 2.5rem;
	left: 15rem;
}
@include for-tablet-landscape-up {
	.conversion-home__header-divider {
		left: 25rem;
	}
}
@include for-desktop-up {
	.conversion-home__header-divider {
		left: 35rem;
	}
}
.conversion-home__header-divider .styled-subdivider-red {
	transform: translateX(2rem);
}

.conversion-home__styled-square-group {
	position: absolute;
	bottom: 2rem;
	left: 5rem;
	display: none;
}
@include for-big-desktop-up {
	.conversion-home__styled-square-group {
		display: initial;
	}
}
.conversion-home__styled-square-group .styled-subsquare-red {
	transform: translate(0.3rem, -5.75rem);
}

// || Safety
.safety {
	@include padding-section(1.5rem, 1rem);
	@include image-background("stock-bike-seat.jpg");
}
.safety__box-wrapper {
	display: flex;
	justify-content: center;
}
.safety__box-icon-wrapper {
	background-color: $color-bg-accent;
	padding: 1rem 3rem;
	border-radius: 5px 0 0 5px;
	display: none;
}
@include for-tablet-portrait-up {
	.safety__box-icon-wrapper {
		display: flex;
		align-items: center;
	}
}
.safety__icon-image {
	max-width: initial;
}
.safety__box-content {
	background-color: $color-bg-tertiary--faded;
	padding: 1rem 3rem;
	border-radius: 5px;
	max-width: 60ch;
	display: flex;
	align-items: center;
}
@include for-tablet-portrait-up {
	.safety__box-content {
		border-radius: 0 5px 5px 0;
	}
}
.safety__content-text {
	color: $color-text-tertiary;
	font-size: 1.5rem;
}

// || Restoration
.restoration {
	@include padding-section;
	position: relative;
}

.restoration__header-divider {
	position: absolute;
	top: 3rem;
	left: 20rem;
	gap: 2rem;
	transform: rotate(-10deg);
}
@include for-tablet-landscape-up {
	.restoration__header-divider {
		left: 30rem;
	}
}
@include for-desktop-up {
	.restoration__header-divider {
		left: 40rem;
	}
}
@include for-big-desktop-up {
	.restoration__header-divider {
		left: 50rem;
	}
}
.restoration__header-divider .styled-subdivider-blue {
	transform: translateX(2rem);
}

.restoration__evaluation-go-ahead-wrapper {
	display: flex;
	flex-direction: column;
}
@include for-tablet-landscape-up {
	.restoration__evaluation-go-ahead-wrapper {
		flex-direction: row;
		gap: 3rem;
	}
	.restoration__evaluation-go-ahead-wrapper div {
		flex-basis: 50%;
		max-width: 45ch;
	}
}
.restoration__evaluation {
	@include margin-subsection;
}
.restoration__go-ahead {
	@include margin-subsection;
}

.restoration__image-section {
	display: flex;
	flex-direction: column;
	max-width: 62.5rem;
	z-index: 1;
}
@include for-tablet-portrait-up {
	.restoration__image-section {
		flex-direction: row;
	}
}
.restoration__image-section-photo {
	width: 256px;
	height: 256px;
	object-fit: cover;
}
@include for-tablet-portrait-up {
	.restoration__image-section-photo {
		width: 50%;
		height: auto;
	}
}

.image-section-photo-top-left {
	border-radius: 3px 3px 0 0;
}
@include for-tablet-portrait-up {
	.image-section-photo-top-left {
		border-radius: 3px 0 0 3px;
	}
}
.image-section-photo-top-right {
	border-radius: 0 0 3px 3px;
}
@include for-tablet-portrait-up {
	.image-section-photo-top-right {
		border-radius: 0 3px 3px 0;
	}
}

.restoration__divider-image-section {
	margin: 1rem;
}
.restoration__divider-image-section .styled-subdivider-blue {
	transform: translateX(2rem);
}
.restoration__divider-image-section .styled-subdivider-red {
	transform: translateX(-2rem);
}

.restoration__styled-circle-group {
	position: absolute;
	left: 0rem;
	display: none;
}
@include for-desktop-up {
	.restoration__styled-circle-group {
		display: initial;
		left: 10rem;
	}
}

.restoration__styled-circle-group .styled-subcircle-blue {
	transform: translate(0.3rem, -5.75rem);
}

// Authentic Equipment List
.restoration__authentic-equipment-list {
	display: grid;
	grid-template-columns: auto;
	row-gap: 2rem;
	margin: 2rem;
}
@include for-tablet-portrait-up {
	.restoration__authentic-equipment-list {
		grid-template-columns: auto auto;
	}
}
@include for-desktop-up {
	.restoration__authentic-equipment-list {
		grid-template-columns: auto auto auto auto;
	}
}

.authentic-equipment-list__item {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.authentic-equipment-list__item-number-design,
.authentic-equipment-list__item-text-design {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.authentic-equipment-list__item-text-design {
	margin-top: 0.5rem;
	width: 18ch;
}
.authentic-equipment-list__item-text {
	margin-top: 1rem;
}

.authentic-equipment-list__item-vertical-line {
	background-color: $color-bg-tertiary;
}
.authentic-equipment-list__item-unstyled-vertical-divider {
	align-self: center;
	visibility: hidden;
}
@include for-tablet-portrait-up {
	.authentic-equipment-list__item-unstyled-vertical-divider {
		visibility: visible;
	}
}

@include for-tablet-portrait-up {
	.authentic-equipment-list__item-unstyled-horizontal-divider {
		visibility: hidden;
	}
}
//

.restoration__police-service-research {
	display: flex;
	flex-direction: column;
}
@include for-desktop-up {
	.restoration__police-service-research {
		flex-direction: row;
		align-items: center;
		gap: 7.5rem;
	}
}

.restoration__police-service-research-text {
	max-width: 88ch;
}
@include for-desktop-up {
	.restoration__police-service-research-text {
		max-width: 50ch;
	}
}

.restoration__police-service-research-icon {
	align-self: center;
	transform: translate(1rem, 1rem);
}

.restoration__research-divider {
	position: absolute;
	bottom: 0;
	right: 20rem;
	gap: 1rem;
	transform: rotate(-10deg);
}
@include for-tablet-portrait-up {
	.restoration__research-divider {
		right: 25rem;
	}
}
@include for-tablet-landscape-up {
	.restoration__research-divider {
		right: 35rem;
	}
}
@include for-desktop-up {
	.restoration__research-divider {
		right: 45rem;
	}
}

.restoration__research-divider .styled-subdivider-blue {
	transform: translateX(2rem);
}

// || Contact Us
.contact-us {
	@include padding-section;
	background-color: $color-bg-quaternary;
	text-align: center;
	position: relative;
	z-index: 1;
}

.contact-us__text {
	max-width: 40ch;
}

.contact-us__email-primary-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
	padding: 0.5rem 1.25rem;
}

.contact-us__social-media-links-wrapper {
	display: flex;
	gap: 1rem;
}

.contact-us__styled-circle-group {
	position: absolute;
	bottom: 0;
	right: -5rem;
}
@include for-tablet-landscape-up {
	.contact-us__styled-circle-group {
		right: -2.5rem;
	}
}
@include for-desktop-up {
	.contact-us__styled-circle-group {
		right: 2.5rem;
	}
}
.contact-us__styled-circle-group .styled-subcircle-red {
	transform: translate(0.3rem, -5.75rem);
}
