@use "../utils/variables";

// || Intro
.intro-home {
	@include image-background("stock-bike-exhaust.jpg");
}
.intro__background-wrapper-home {
	@include padding-section($topBottom: 5rem);
}
@include for-desktop-up {
	.intro__background-wrapper-home {
		width: 50%;
	}
	.intro__content-home {
		align-items: flex-start;
		text-align: left;
		max-width: 500px;
		margin: auto;
	}
}

.intro__text-home {
	color: $color-text-tertiary--faded;
}

// || Services
.services {
	@include padding-section;
	background-color: $color-bg-quaternary;
}
.services__intro-divider {
	position: absolute;
	bottom: 15rem;
	right: 35rem;
	gap: 1.5rem;
}
.services__intro-divider .styled-subdivider {
	width: 15rem;
}
.services__intro-divider .styled-subdivider-red {
	transform: translateX(-4rem);
}
.services__intro-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 2rem;
}
.services__welcome {
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 0.1rem;
	font-size: 0.8rem;
}
.services__header {
	margin: 1rem 0;
}
.services__text {
	max-width: 40ch;
}

// Services Card
.services__card-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}
@include for-tablet-portrait-up {
	.services__card-section {
		flex-direction: row;
		gap: 0;
	}
}
.services__card-divider .styled-subdivider-blue {
	transform: translateX(3rem);
}
.services__card-divider .styled-subdivider-red {
	transform: translateX(-3rem);
}
@include for-tablet-portrait-up {
	.services__card-divider {
		flex-direction: row;
		justify-content: center;
	}
	.services__card-divider .styled-subdivider {
		height: 14rem;
		width: 0.5rem;
	}
	.services__card-divider .styled-subdivider-blue {
		transform: translateY(3rem);
	}
	.services__card-divider .styled-subdivider-red {
		transform: translateY(-3rem);
	}
}

// || Conversion
.conversion {
	@include padding-section;
}
.conversion__before-after-label {
	font-size: 0.8rem;
}

// || Safety
.safety {
	@include padding-section(1.5rem, 1rem);
	@include image-background("stock-bike-seat.jpg");
}
.safety__box-wrapper {
	display: flex;
	justify-content: center;
}
.safety__box-icon-wrapper {
	background-color: $color-bg-accent;
	padding: 1rem 3rem;
	border-radius: 5px 0 0 5px;
	display: none;
}
@include for-tablet-portrait-up {
	.safety__box-icon-wrapper {
		display: flex;
		align-items: center;
	}
}
.safety__icon-image {
	max-width: initial;
}
.safety__box-content {
	background-color: $color-bg-tertiary--faded;
	padding: 1rem 3rem;
	border-radius: 5px;
	max-width: 60ch;
	display: flex;
	align-items: center;
}
@include for-tablet-portrait-up {
	.safety__box-content {
		border-radius: 0 5px 5px 0;
	}
}
.safety__content-text {
	color: $color-text-tertiary;
	font-size: 1.5rem;
}

// || Restoration
.restoration {
	@include padding-section;
}

// Authentic Equipment List
.restoration__authentic-equipment-list {
	display: grid;
	grid-template-columns: auto;
	row-gap: 2rem;
	margin: 2rem;
}
@include for-tablet-portrait-up {
	.restoration__authentic-equipment-list {
		grid-template-columns: auto auto;
	}
}
@include for-desktop-up {
	.restoration__authentic-equipment-list {
		grid-template-columns: auto auto auto auto;
	}
}

.authentic-equipment-list__item {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.authentic-equipment-list__item-number-design,
.authentic-equipment-list__item-text-design {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}
.authentic-equipment-list__item-text-design {
	margin-top: 0.5rem;
	width: 18ch;
}
.authentic-equipment-list__item-text {
	margin-top: 1rem;
}

.authentic-equipment-list__item-vertical-line {
	background-color: $color-bg-tertiary;
}
.authentic-equipment-list__item-unstyled-vertical-divider {
	align-self: center;
	visibility: hidden;
}
@include for-tablet-portrait-up {
	.authentic-equipment-list__item-unstyled-vertical-divider {
		visibility: visible;
	}
}

@include for-tablet-portrait-up {
	.authentic-equipment-list__item-unstyled-horizontal-divider {
		visibility: hidden;
	}
}

// || Contact Us
.contact-us {
	@include padding-section;
	background-color: $color-bg-quaternary;
	text-align: center;
}

.contact-us__primary-button {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 0.5rem;
}
