// Before-after Buttons
.before-after-list {
	display: flex;
	justify-content: space-around;
	margin-bottom: 0.5rem;
}

.before-after-button {
	padding: 0.5rem;
	border-bottom: 2px solid rgba(255, 255, 255, 0);
}
.before-after-button--active {
	border-bottom: 2px solid $color-button-primary;
}
.before-after-button--active:hover {
	border-color: $color-button-primary;
}

.before-after-button:not(.before-after-button--active) {
	color: $color-text-primary--faded;
}
.before-after-button:not(.before-after-button--active):hover {
	border-color: $color-design-tertiary--faded;
}

.before-after-button,
.before-after-button--active {
	transition: border 250ms ease-in-out;
}

// Before-after Images
.before-after-image-wrapper {
	position: relative;
	margin-right: 2rem;
}

.before-after-image {
	cursor: pointer;
	border-radius: 3px;
	transition: opacity 100ms ease-in-out;
}
.before-after-image--active {
	position: relative;
	z-index: 2;
}

.before-after-image:not(.before-after-image--active) {
	opacity: 0.5;
}

.after-image {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 2rem;
}
