.before-after-list {
	display: flex;
	justify-content: space-around;
	margin-bottom: 0.5rem;
}

.before-after-button {
	padding: 0.5rem;
	transition: border 250ms ease-in-out;
}
.before-after-button--inactive:hover {
	border-bottom: 2px solid grey;
}
.before-after-button--active {
	border-bottom: 2px solid $color-button-primary;
}
