.conversion-build-gallery {
	
}

.conversion-build-gallery__img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}

// || Grid
.grid-image-gallery {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-auto-rows: repeat(13, 1fr);
	grid-gap: 0.5rem;
   max-width: 75rem;
}
@include for-tablet-portrait-up {
	.grid-image-gallery {
		grid-template-columns: repeat(4, 1fr);
	}
}

.span-2x2 {
	grid-row: span 2;
	grid-column: span 2;
}
@include for-tablet-portrait-up {
	.large-span-1x3 {
		grid-row: span 1;
		grid-column: span 3;
	}
}
// 