// Styled Divider
.styled-divider {
	display: flex;
	flex-direction: column;
	gap: .5rem;
	align-items: center;
	width: 100%;
}
.styled-subdivider {
	border-radius: 2px;
}
.styled-subdivider-blue {
	background-color: $color-design-primary;
}
.styled-subdivider-red {
	background-color: $color-design-secondary;
}

// Unstyled Dividers
.unstyled-divider {
	background-color: $color-bg-tertiary;
}

.unstyled-horizontal-divider {
	height: 2px;
	width: 100%;
}
.unstyled-vertical-divider {
	height: 3rem;
	width: 2px;
}
