.back-to-top__arrow-icon {
	height: 16px;
	width: 16px;
}

.services__card-icon {
	width: 40px;
	height: 40px;
}

.safety__icon-image {
	height: 80px;
	width: 80px;
}

.restoration__police-service-research-icon {
	width: 75%;
	max-width: 320px;
}

.copy-icon {
	height: 20px;
	width: 20px;
}

.bike-build-teaser-section__arrow-icon {
	height: 40px;
	width: 40px;
}