.contact-us__email-primary-button-tooltip-text {
	font-size: 1rem;
	width: 12rem;
	border-radius: 1px;
	visibility: hidden;
	color: $color-text-secondary;
	background-color: $color-bg-tertiary;
	text-align: center;
	padding: 0.25em;
	position: absolute;
	z-index: 1;
	top: 60%;
	left: 50%;
	transform: translateX(-50%);
	opacity: 0;
	transition: opacity 0.3s;
}
 @include for-desktop-up {
 	.contact-us__email-primary-button-tooltip-text {
 		top: 57.5%;
 	}
 }

.contact-us__email-primary-button-tooltip-text::after {
	content: "";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent $color-bg-tertiary transparent;
}

.contact-us__email-primary-button-tooltip-text--visible {
	visibility: visible;
	opacity: 1;
}
