// Media Queries
@mixin for-tablet-portrait-up {
	@media (min-width: 600px) {
		@content;
	}
}
@mixin for-tablet-landscape-up {
	@media (min-width: 900px) {
		@content;
	}
}
@mixin for-desktop-up {
	@media (min-width: 1200px) {
		@content;
	}
}
@mixin for-big-desktop-up {
	@media (min-width: 1800px) {
		@content;
	}
}

//  Section Padding
@mixin padding-section($topBottom: 3rem, $leftRight: 2rem, $largerScreenTopBottom: 2rem) {
	padding: $topBottom $leftRight;

	@include for-tablet-landscape-up {
		padding: $topBottom + $largerScreenTopBottom $leftRight;
	}
}

// Sub-section Margin
@mixin margin-subsection($topBottom: .5rem, $leftRight: 0) {
	margin: $topBottom $leftRight;
}

// Image Background styles
@mixin image-background($imgUrl, $position: center, $size: cover, $repeat: no-repeat, $color: none) {
	background: url(/img/#{$imgUrl}) $position / $size $repeat;
}

// Navbar element hover styling
@mixin navbar-hover {
	background-color: $color-bg-tertiary;
	color: $color-text-secondary;
}

// Navbar box-shadow
@mixin navbar-box-shadow {
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}
