// || Colors
$color-bg-primary: #fafafa;
$color-bg-secondary: #212121;
$color-bg-tertiary: rgba(0, 0, 0, 0.8);
$color-bg-tertiary--faded: #181818de;
$color-bg-quaternary: #e6e6e6;
$color-bg-accent: #ffffff80;

$color-text-primary: #212121;
$color-text-primary--faded: #21212179;
$color-text-secondary: #FFFFFF;
$color-text-tertiary: #e6e6e6;
$color-text-tertiary--faded: #e6e6e6cc;

$color-border-primary: #E2E8F0;
$color-border-transparent: rgba(0, 0, 0, 0);

$color-button-primary: #078cf2;
$color-button-primary--hover: #FFFFFF;

$color-design-primary: #078cf2bd;
$color-design-secondary: #f94646bd;
$color-design-tertiary--faded: #21212179;

// Gallery divider section
$color-gallery-divider-one: #3a718a;
$color-gallery-divider-two: #6e4156;
$color-gallery-divider-three: #41aeae;
$color-gallery-divider-four: #684934;

// || Typography
$font-family: "Inter", sans-serif;